@model IEnumerable<ProdutoModel>
@{
    ViewData["Title"] = "listar";
}

<h1>Listar Filmes</h1>

<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

function confirmExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse produto?")) {

       location.href ="/Produto/excluir/" + id;

   }
}
</script>

<a href="~/produto/cadastro" class="btn btn-info">
    Novo
</a>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Imagem</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.descricao</td>
                <td><img src="~/Imagens/@item.imagem"
                         class="rounded-circle" height="40" 
                         width="40" asp-append version="true" />
                </td>
                <td>
                    <a href="~/produto/prealterar/@item.id"
                       class="btn btn-primary">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="#"
                       class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                        Excluir
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>


